p {
  font-family: 'Noto Sans JP', sans-serif;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}
a:visited{
    color : blue;
}

#profile, #work{
  font-size: 2.0em;
}

.line{
  display: block;
  width: 100%;
  height: 1px;
  background: #cccccc;
  margin: 4px 0;
}

body{
  width: 100%;
}

#main{
  display: block;
  width: 50%;
  margin: 0 auto;
}
