/* http を https に変更し、最新の読み込み方式に更新します */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300&display=swap');

h1 {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 200;
}

h2 {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 100;
}

#year {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 100;
}

#content {
  margin: 0 0 0 16px;
}

p {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0 0 0 8px;
}

a {
  text-decoration: none;
}

a:visited {
  color: blue;
}

#profile,
#work {
  font-size: 2.0em;
}

.line {
  display: block;
  width: 100%;
  height: 1px;
  background: #cccccc;
  margin: 4px 0;
}

body {
  width: 100%;
}

#main {
  display: block;
  width: 50%;
  margin: 0 auto;
}